{% extends 'base.html' %} {% load static %} {% block page_title %} | World Home {% endblock %} {% block content %}

<section class="header mb-5">
    <div class="row">
        <div class="col-12 text-center">
            <h2>World Home</h2>
        </div>
    </div>
</section>

<section class="owned-lists">
    <div class="row">
        <div class="col-md-6 col-12">
            <a href="{% url 'add_dark_heresy' %}" role="button" class="btn btn-success mb-3" aria-disabled="false">Add Dark Hersey</a>
            <h3>Dark Heresy:</h3>
            <ul class="sheet-list">
                {% for sheet in dh %}
                <li class="sheet-list-item"><a href="{% url 'single_dark_heresy' sheet.id %}" class="single_dark_heresy">{{ sheet.name }}</a> <a href="{% url 'edit_dark_heresy' sheet.id %}" class=" sheet-list-edit"><i class="far fa-edit"></i></a>
                    <a href="{% url 'delete_dark_heresy' sheet.id %}" class="sheet-list-delete" onclick="return confirm('Are you sure you to delete {{ sheet.name }}?');"><i class="fas fa-dumpster-fire"></i></a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-6 col-12">

        </div>
    </div>
</section>

{% endblock %}