{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} {% block page_title %} | {{ roller }} Rolling {{ this_roll.roll_type }} {% endblock %} {% block content %}

<section class="button-nav">
    <div class="row mb-5">
        <div class="col-12">
            <a href="{% url 'set_up_dark' this_roll.roll_game.id %}" role="button" class="btn btn-warning" aria-disabled="false">Back To {{ this_roll.roll_game }}</a>
        </div>
    </div>
</section>

<section class="roller-stats">
    <p id="rolltype">{{ rolltype }}</p>
    <span id="wep-skill">{{ roller.weapon_skill }}</span>
    <span id="bal-skill">{{ roller.ballistic_skill }}</span>
    <span id="strengh">{{ roller.strengh }}</span>
    <span id="toughness">{{ roller.toughness }}</span>
    <span id="agility">{{ roller.agility }}</span>
    <span id="intelligence">{{ roller.intelligence }}</span>
    <span id="perception">{{ roller.perception }}</span>
    <span id="willpower">{{ roller.willpower }}</span>
    <span id="fellowship">{{ roller.fellowship }}</span>
    <span id="influence">{{ roller.influence }}</span>
    <span id="threshold">{{ this_roll.threshold }}</span>
    <span id="mod">{{ this_roll.mod }}</span>
</section>

<section class="die-header mb-5 text-center">
    <div class="row">
        <div class="col-12">
            <h2>{{ this_roll.roll_type }} Roll for {{ roller }}</h2>
        </div>
    </div>
</section>

<section class="die-roller mb-3">
    <div class="row text-center">
        <div class="col-md-6 col-12">
            <h3>{{ roller }}'s {{ this_roll.roll_type }}: <span id="roll-threshold"></span></h3>
            <h4 id="pass-fail"></h4>
            <br>
            <h5 class="mb-3" id="mod-reveal">Spend a fate point to show the modifer?</h5>
            <button class="btn btn-success mb-3" id="mod-reveal-button">Show Modifer</button>
        </div>
        <div class="col-md-6 col-12">
            <h3 class="mb-3"><span id="roll-result"></span></h3>
            <button class="btn btn-success mb-3" id="roll-button">Roll D100</button>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            <p>Fate Points Left: <span id="current-fate-points">{{ roller.current_fate_points }}</span></p>
            <p id="reroll-promt"></p>
            <button class="btn btn-success mb-3" id="reroll-button">Re Roll</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form role="form" method="post" id="dark-roller">
                <div class="form-group body-text">
                    {% csrf_token %}
                    <div class="form-row" id="dark-roll-fields">
                        <div class="form-group col-md-4 mb-0">
                            {{ roll_form.threshold|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ roll_form.roll_amount|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-1 mb-0">
                            {{ roll_form.fate_points|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-1 mb-0">
                            {{ roll_form.mod|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row" id="dark-roll-sumbit">
                        <div class="form-group col-12 text-center">
                            <input class="btn btn-success" id="sumbit-dark-roller" name="commit" type="submit" value="Sumbit Roll">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %} {% block script_js %}
<script type="text/javascript" src="{% static 'js/dark_roll.js' %}"></script>
{% endblock %}