{% extends 'base.html' %} {% load static %} {% block page_title %} {{ this_combat }} | Die Master {% endblock %} {% block content %}

<section class="header">
    <div class="row mb-5">
        <div class="col-12 text-center">
            <h2>Combat</h2>
        </div>
    </div>
</section>

<section class="combatants">
    <div class="row text-center">
        {% for c in combatants %}
        <div class="col-md-4 col-6">
            <p>{{ c.name }}</p>
            {% for comb in this_combat.combatants.all %} {% if comb.combatant_id == c.id %}
            <p>{{ comb.combatant_id }}{{ c.id }}</p>
            <p>{{ comb.initiative }}</p>
        </div>
        {% endif %} {% endfor %} {% endfor %}
    </div>
</section>

{% endblock %}