{% extends 'base.html' %} {% load static %} {% block page_title %} {{ this_combat }} | Die Master {% endblock %} {% block content %}

<section class="button-nav">
    <div class="row mb-5">
        <div class="col-12">
            <a href="{% url 'set_up_dark' this_game.id %}" role="button" class="btn btn-warning" aria-disabled="false">Back</a>
        </div>
    </div>
</section>

<section class="header">
    <div class="row mb-5">
        <div class="col-12 text-center">
            <h2>Combat</h2>
        </div>
    </div>
</section>

<section class="combatants">
    <div class="row text-center">
        {% for c in combatants %}
        <div class="col-md-4 col-6">
            <h5>Fighter {{ forloop.counter }}: {{ c.name }}</h5>
            {% for comb in this_combat.combatants.all %} {% if comb.combatant_id == c.id %}
            <p>Initiative: {{ comb.initiative }}</p>
            {% if user.profile == c.created_by and comb.initiative == 0 %}
            <a data-toggle="modal" href="#initModel{{ c.id }}" role="button" aria-disabled="false" class="btn btn-success mb-3">
                Roll Init
            </a>

            <div class="modal" id="initModel{{ c.id }}">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4>Init Roll For {{ c.name }}</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <div class="modal-body">
                            <form role="form" method="post" id="sumbit-init" action="{% url 'roll_dark_init' comb.id %}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-12">
                                        <h5>Modifer: = <span class="mod">{{ c.agility|slugify|slice:":1" }}</span></h5>
                                        <h5>Initiative: <span class="init-amount"></span></h5>
                                        <h5>Total: <span id="total-init"></span></h5>
                                    </div>
                                </div>
                                <input type="text" class="final-init-sumbit" name="final-init-sumbit">
                                <div class="row text-center roll-banner">
                                    <div class="col-12">
                                        <input class="btn btn-success" id="submit-init" name="commit" type="submit" value="Sumbit">
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="model-footer text-center">
                            <hr class="model-break">
                            <button class="btn btn-success mb-3 init-roll-button">Roll Init</button>
                        </div>
                    </div>
                </div>
            </div>

            {% endif %}
        </div>
        {% endif %} {% endfor %} {% endfor %}
    </div>
</section>

{% endblock %} {% block script_js %}
<script type="text/javascript" src="{% static 'js/init_roll.js' %}"></script>
{% endblock %}