{% extends 'base.html' %} {% load static %} {% block page_title %} Game Index | Die Master {% endblock %} {% block content %}

<section class="header">
    <div class="row mb-5">
        <div class="col-12 text-center">
            <h2>Game Index</h2>
        </div>
    </div>
</section>

<section class="game-lists">
    <div class="row">
        <div class="col-md-6 col-12">
            <h4>Dark Heresy:</h4>
        </div>
        <div class="col-md-6 col-12">

        </div>

    </div>
</section>

{% endblock %}