{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} {% block page_title %} | {{ this_game }} {% endblock %} {% block content %}

<section class="button-nav">
    <div class="row mb-5">
        <div class="col-12">
            <a href="{% url 'game_index' %}" role="button" class="btn btn-warning" aria-disabled="false">Back</a>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-12 text-center">
        <h1>{{ this_game }} {% if this_game.ready_state == False %}Setup{% else %}Ready{% endif %}</h1>
    </div>
</div>

<section class="dm">
    <div class="row mb-5">
        <div class="col-6">
            {% if this_game.dm == user.profile %}
            <h3>Your're The DM!</h3>
            {% else %}
            <h3>Your DM Is: {{ this_game.dm }}</h3>
            {% endif %}
        </div>
        <div class="col-6 text-center">
            {% if this_game.ready_state == False %}
            <h5>Game Not Ready</h5>
            {% else %}
            <h5>Game Ready</h5>
            {% endif %} {% if this_game.dm == user.profile %}
            <a href="{% url 'change_ready_state' this_game.id %}" role="button" class="btn btn-success" aria-disabled="false">Ready State</a>
        </div> {% endif %}
    </div>
</section>

{% if this_game.ready_state == False %}

<section class="user-setup">
    <div class="row">
        <div class="col-md-6 col-12">
            <h3>Selected Players: </h3>
            <ul class="sheet-list">
                {% for sheet in this_game.sheets.all %}
                <li class="sheet-list-item"><a href="{% url 'change_dark_player_status' sheet.id this_game.id %}" class="single_dark_heresy">{{ sheet.name }}</a> - <span class="small">{{ sheet.created_by }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-6 col-12">
            <h3>Unselected Players: </h3>
            <ul class="sheet-list">
                {% for sheet in dh_sheets %} {% if sheet.created_by == user.profile or this_game.dm == user.profile %}
                <li class="sheet-list-item"><a href="{% url 'change_dark_player_status' sheet.id this_game.id %}" class="single_dark_heresy">{{ sheet.name }}</a> - <span class="small">{{ sheet.created_by }}</span>
                </li>
                {% endif %} {% endfor %}
            </ul>
        </div>
    </div>
</section>

{% else %} {% if this_game.dm == user.profile %}

<section class="dm-ready">
    <div class="row dm-tools">
        <div class="col-12">
            <h4>DM Tools:</h4>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12">
            <h3>Players:</h3>
        </div>
    </div>
    <div class="row">
        {% for sheet in this_game.sheets.all %}
        <div class="col-md-4 col-6 text-center mb-3">
            <h5>{{ sheet.name }}</h5>
        </div>
        {% endfor %}
    </div>
</section>

{% else %}

<section class="user-ready">
    <div class="row mb-5">
        <div class="col-12">
            <h3>Players:</h3>
        </div>
    </div>
    <div class="row">
        {% for sheet in this_game.sheets.all %}
        <div class="col-md-4 col-6 text-center mb-3">
            <h5>{{ sheet.name }}</h5>
        </div>
        {% endfor %}
    </div>
</section>

{% endif %} {% endif %} {% endblock %}