{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} {% block page_title %} | {{ this_game }} {% endblock %} {% block content %}

<section class="button-nav">
    <div class="row mb-5">
        <div class="col-12">
            <a href="{% url 'game_index' %}" role="button" class="btn btn-warning" aria-disabled="false">Back</a>
        </div>
    </div>
</section>

<section class="header">
    <div class="row">
        <div class="col-12 text-center">
            <h1>{{ this_game }} {% if this_game.ready_state == False %}Setup{% else %}Ready{% endif %}</h1>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-6">
            {% if this_game.dm == user.profile %}
            <h3>You're The DM!</h3>
            {% else %}
            <h3>The DM Is: {{ this_game.dm }}</h3>
            {% endif %}
        </div>
        <div class="col-6 text-center">
            {% if this_game.ready_state == False %}
            <h5>Game Not Ready</h5>
            {% else %}
            <h5>Game Ready</h5>
            {% endif %} {% if this_game.dm == user.profile %}
            <a href="{% url 'change_ready_state' this_game.id %}" role="button" class="btn btn-success" aria-disabled="false">Change Ready State</a> {% endif %}
        </div>
    </div>
</section>

{% if this_game.ready_state == False %}

<section class="user-setup">
    <div class="row">
        <div class="col-md-6 col-12">
            <h3>Selected Players: </h3>
            <ul class="sheet-list">
                {% for sheet in this_game.sheets.all %}
                <li class="sheet-list-item"><a href="{% url 'change_dark_player_status' sheet.id this_game.id %}" class="single-dark-heresy">{{ sheet.name }}</a> - <span class="small">{{ sheet.created_by }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-6 col-12">
            <h3>Unselected Players: </h3>
            <ul class="sheet-list">
                {% for sheet in dh_sheets %} {% if sheet.created_by == user.profile or this_game.dm == user.profile %}
                <li class="sheet-list-item"><a href="{% url 'change_dark_player_status' sheet.id this_game.id %}" class="single-dark-heresy">{{ sheet.name }}</a> - <span class="small">{{ sheet.created_by }}</span>
                </li>
                {% endif %} {% endfor %}
            </ul>
        </div>
    </div>
</section>

{% else %}

<!-- DM View -->

{% if this_game.dm == user.profile %}

<section class="dm-ready">
    <h4 class="mb-3">DM Tools:</h4>
    <div class="row dm-tools mb-5 text-center">
        <div class="col-4">
            <a href="{% url 'delete_all_done_dark_rolls' this_game.id %}" role="button" class="btn btn-danger" aria-disabled="false" onclick="return confirm('Are you sure you to delete all completed rolls?');">Delete Completed Rolls</a>
        </div>
        <div class="col-4">
            <a href="{% url 'delete_all_dark_rolls' this_game.id %}" role="button" class="btn btn-danger" aria-disabled="false" onclick="return confirm('Are you sure you to delete all rolls?');">Delete All Rolls</a>
        </div>
        <div class="col-4">
            <a data-toggle="modal" href="#send-all-model" class="btn btn-warning">Send All Rolls</a>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-12">
            <h3>Players:</h3>
        </div>
    </div>

    <div class="row">
        {% for sheet in this_game.sheets.all %}
        <div class="col-md-4 col-6 text-center mb-3">
            <a data-toggle="modal" href="#dmDieModel{{ sheet.id }}" class="die-link">
                <h5>{{ sheet.name }}</h5>
            </a>

            <!-- DM Own Sheets View-->

            {% if user.profile == sheet.created_by %} {% if sheet.die_roll != Null %}
            <p>
                Current Roll: {% if sheet.die_roll.passed == True %}
                <span class="passed-roll-color">{{ sheet.die_roll.roll_type }} - Passed</span> {% elif sheet.die_roll.roll_amount != 0 %}
                <span class="failed-roll-color">{{ sheet.die_roll.roll_type }} - Failed</span> {% else %}
                <a href="{% url 'dark_die_roll' sheet.die_roll.id %}" class="die-link">{{ sheet.die_roll.roll_type }}</a>
                <a href="{% url 'delete_dark_die_roll' sheet.die_roll.id %}" class="die-delete" onclick="return confirm('Are you sure you to delete {{ sheet.die_roll.roll_type }} Roll?');"><i class="fas fa-dumpster-fire"></i></a> {% endif %}
            </p>
            {% if sheet.die_roll.threshold != 0 %}
            <p>{{ sheet.die_roll.roll_amount }}/{{ sheet.die_roll.threshold }}</p>
            {% endif %} {% endif %}

            <h5>Previous Rolls:</h5>
            {% for die in this_game.all_game_rolls.all %} {% if die.target_id == sheet.id %}
            <div class="col-12">
                {% if die.passed == True %}
                <span class="passed-roll-color">{{ die.roll_type }} Passed</span> {% elif die.roll_amount != 0 %}
                <span class="failed-roll-color">{{ sheet.die_roll.roll_type }} Failed</span> {% else %}
                <a href="{% url 'dark_die_roll' die.id %}" class="die-link">{{ die.roll_type }}</a>
                <a href="{% url 'delete_dark_die_roll' die.id %}" class="die-delete" onclick="return confirm('Are you sure you to delete {{ die.roll_type }} Roll?');"><i class="fas fa-dumpster-fire"></i></a> {% endif %}
            </div>
            {% endif %} {% endfor %}

            <!-- DM User Sheet List -->

            {% else %} {% if sheet.die_roll != Null %}
            <p>Last Sent: {{ sheet.die_roll.roll_type }} {% if sheet.die_roll.passed == True %}<span class="passed-roll-color"> - Passed </span>{% elif sheet.die_roll.roll_amount != 0 %}
                <span class="failed-roll-color"> - Failed</span>{% else %}
                <a href="{% url 'delete_dark_die_roll' sheet.die_roll.id %}" class="die-delete" onclick="return confirm('Are you sure you to delete {{ sheet.die_roll.roll_type }} Roll?');"><i class="fas fa-dumpster-fire"></i></a> {% endif %}
            </p>
            {% if sheet.die_roll.threshold != 0 %}
            <p>{{ sheet.die_roll.roll_amount }}/{{ sheet.die_roll.threshold }}</p>
            {% endif %} {% endif %}
            <h5>Previous Rolls:</h5>
            {% for die in this_game.all_game_rolls.all %} {% if die.target_id == sheet.id %}
            <div class="col-12">
                {% if die.passed == True %}
                <span class="passed-roll-color">{{ die.roll_type }} Passed
                </span> {% elif die.roll_amount != 0 %}
                <span class="failed-roll-color">{{ sheet.die_roll.roll_type }} Failed</span> {% else %}
                <a href="{% url 'dark_die_roll' die.id %}" class="die-link">{{ die.roll_type }}</a>
                <a href="{% url 'delete_dark_die_roll' die.id %}" class="die-delete" onclick="return confirm('Are you sure you to delete {{ die.roll_type }} Roll?');"><i class="fas fa-dumpster-fire"></i></a> {% endif %}
            </div>
            {% endif %} {% endfor %} {% endif %}
        </div>

        <!-- DM SEND DIE MODEL -->

        <div class="modal" id="dmDieModel{{ sheet.id }}">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4>Send Die Roll For {{ sheet.name }}</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        <form role="form" method="post" id="test_dark_roll" action="{% url 'send_dark_die_roll' this_game.id sheet.id %}">
                            <div class="form-group body-text">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-12 hide-die-roll">
                                        <input type="text" class="select-roll-type" name="rolltype">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row text-center">
                                    <div class="col-12">
                                        <a class="btn btn-outline-dark rolltype-button" id="wep-skill-roll" value="Weapon Skill">Wep Skill</a>
                                        <a class="btn btn-outline-dark rolltype-button" id="bal-skill-roll" value="Ballistic Skill">Bal Skill</a>
                                        <a class="btn btn-outline-dark rolltype-button" id="str-roll" value="Strengh">Strengh</a>
                                        <a class="btn btn-outline-dark rolltype-button" id="toughness-roll" value="Toughness">Toughness</a>
                                        <a class="btn btn-outline-dark rolltype-button" id="agility-roll" value="Agility">Agility</a>
                                        <hr>
                                        <input name="mod" type="range" min="-30" max="30" step="10" class="slider" />
                                        <p class="mod-label">0</p>
                                        <a class="btn btn-outline-dark rolltype-button" id="intel-roll" value="Intelligence">Intel</a>
                                        <a class="btn btn-outline-dark rolltype-button" id="perception-roll" value="Perception">Percep</a>
                                        <a class="btn btn-outline-dark rolltype-button" id="willpower-roll" value="Willpower">Willpower</a>
                                        <a class="btn btn-outline-dark rolltype-button" id="fellowship-roll" value="Fellowship">Fellowship</a>
                                        <a class="btn btn-outline-dark rolltype-button" id="influence-roll" value="Influence">Influence</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row text-center roll-banner">
                                <div class="col-12">
                                    <input class="btn btn-success" id="submit-roll" name="commit" type="submit" value="Send Roll">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<!-- All Die Roll Model-->

<div class="modal" id="send-all-model">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4>Send Die Roll For All Sheets</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <form role="form" method="post" id="test_dark_roll" action="{% url 'send_all_dark_roll' this_game.id %}">
                    <div class="form-group body-text">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12 hide-die-roll">
                                <input type="text" class="select-roll-type" name="rolltype">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row text-center">
                            <div class="col-12">
                                <a class="btn btn-outline-dark rolltype-button" id="all-wep-skill-roll" value="Weapon Skill">Wep Skill</a>
                                <a class="btn btn-outline-dark rolltype-button" id="all-bal-skill-roll" value="Ballistic Skill">Bal Skill</a>
                                <a class="btn btn-outline-dark rolltype-button" id="all-str-roll" value="Strengh">Strengh</a>
                                <a class="btn btn-outline-dark rolltype-button" id="all-toughness-roll" value="Toughness">Toughness</a>
                                <a class="btn btn-outline-dark rolltype-button" id="all-agility-roll" value="Agility">Agility</a>
                                <hr>
                                <input name="mod" type="range" min="-30" max="30" step="10" class="slider" />
                                <p class="mod-label">0</p>
                                <a class="btn btn-outline-dark rolltype-button" id="all-intel-roll" value="Intelligence">Intel</a>
                                <a class="btn btn-outline-dark rolltype-button" id="all-perception-roll" value="Perception">Percep</a>
                                <a class="btn btn-outline-dark rolltype-button" id="all-willpower-roll" value="Willpower">Willpower</a>
                                <a class="btn btn-outline-dark rolltype-button" id="all-fellowship-roll" value="Fellowship">Fellowship</a>
                                <a class="btn btn-outline-dark rolltype-button" id="all-influence-roll" value="Influence">Influence</a>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center roll-banner">
                        <div class="col-12">
                            <input class="btn btn-success" id="submit-all-roll" name="commit" type="submit" value="Send All Roll">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% else %}

<!-- User View -->

<section class="user-ready">
    <div class="row mb-5">
        <div class="col-12">
            <h3>Players:</h3>
        </div>
    </div>
    <div class="row">
        {% for sheet in this_game.sheets.all %}
        <div class="col-md-4 col-12 text-center mb-5">
            <h4>{{ sheet.name }}</h4>
            {% if user.profile == sheet.created_by %} {% if sheet.die_roll != Null %}
            <p>Current Roll: {% if sheet.die_roll.passed == True %} <span class="passed-roll-color">{{ sheet.die_roll.roll_type }} - Passed </span>{% elif sheet.die_roll.roll_amount != 0 %}
                <span class="failed-roll-color">{{ sheet.die_roll.roll_type }} - Failed</span> {% else %}
                <a href="{% url 'dark_die_roll' sheet.die_roll.id %}" class="die-link">{{ sheet.die_roll.roll_type }}</a> {% endif %}
            </p>
            {% endif %}
            <h5 class="mb-3">Previous Rolls:</h5>
            {% for die in this_game.all_game_rolls.all %} {% if die.target_id == sheet.id %}
            <div class="col-12">
                {% if die.passed == True %}
                <span class="passed-roll-color">{{ die.roll_type }} Passed
                </span> {% elif die.roll_amount != 0 %}
                <span class="failed-roll-color">{{ sheet.die_roll.roll_type }} Failed </span> {% else %}
                <a href="{% url 'dark_die_roll' die.id %}" class="die-link">{{ die.roll_type }}</a> {% endif %}
            </div>
            {% endif %} {% endfor %} {% endif %}
        </div>
        {% endfor %}
    </div>
</section>

{% endif %} {% endif %} {% endblock %} {% block script_js %}
<script type="text/javascript" src="{% static 'js/die_select.js' %}"></script>
{% endblock %}