{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} {% block page_title %} | Start New Dark Heresy {% endblock %} {% block content %}

<section class="button-nav">
    <div class="row mb-5">
        <div class="col-12">
            <a href="{% url 'game_index' %}" role="button" class="btn btn-warning" aria-disabled="false">Back</a>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-12 text-center">
        <h1>New Dark Heresy Game</h1>
    </div>
</div>

<form role="form" method="post" id="new_dark_game" action="{% url 'start_new_dark_game' %}">
    <div class="form-group body-text">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-8 mb-0">
                {{ game_form.name|as_crispy_field }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12 text-center">
                <input class="btn btn-success" id="submit_dark" name="commit" type="submit" value="Start New Dark Heresy">
            </div>
        </div>
        <br>
    </div>
</form>


{% endblock %}