@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&display=swap');

/* Background */

.bg {
    background-color: #020704;
    font-family: 'Cantarell', sans-serif;
    color: #d7e7f0;
    height: 100%;
}


/* Navbar */

.nav-bg {
    background-color: #6e5b45;
}

.nav-bg a {
    color: #020704;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.nav-bg a:hover {
    color: #40a54d
}

.nav-button {
    color: #f4f4f4;
}

.navbar-toggler {
    outline: none;
}

.logged-in {
    color: #020704;
    margin: 8px 2px;
}


/* Home */

.index-lead {
    padding: 1.2rem;
}

.weighted-lead {
    font-weight: 700;
}


/* Accounts */

.table {
    color: #d7e7f0;
}


/* World */

.sheet-list {
    list-style-type: none;
    padding-left: 20px;
}

.sheet-list-item {
    font-size: 20px;
    padding-bottom: 0.45rem;
}

.sheet-list-item a {
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    text-decoration: none;
}

.sheet-list-item a:hover {
    color: white;
}

.single-dark-heresy {
    color: #d7e7f0;
}

.sheet-list-edit {
    font-size: 15px;
    padding-left: 0.75rem;
    color: #cf7815;
}

.sheet-list-delete {
    font-size: 15px;
    color: #862923;
}

.ready-color {
    color: green
}


/* Die */

.die-link {
    transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    color: #40a54d;
}

.die-link:hover {
    color: #1af137;
    text-decoration: none;
}

.die-delete {
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    color: #862923;
}

.die-delete:hover {
    color: #fc2e1f;
}

#sumbit-dark-roller,
#reroll-button,
.roller-stats,
#passed-roll,
#failed-roll,
#dark-roll-fields,
#dark-roll-sumbit {
    display: none;
}


/* Game Model */

.modal-content {
    background-color: black;
    border: 0.75px solid white;
}

.block-display {
    display: block;
}

.btn-outline-dark {
    color: #d7e7f0;
}


/* Sheets */

.dh-card-back {
    background-image: linear-gradient(#211402, #1d1702);
    border-radius: 1.25%;
    border-width: 1px;
    border-color: #282828;
    border-style: solid;
}


/* Class Helpers */

.btn {
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}