@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&display=swap');

/* Background */

.bg {
    background-color: #020704;
    font-family: 'Cantarell', sans-serif;
    color: #d7e7f0;
    height: 100%;
}


/* Navbar */

.nav-bg {
    background-color: #d49a60;
}

.nav-bg a {
    color: #020704;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.nav-bg a:hover {
    color: rgb(80, 65, 121);
}

.nav-button {
    color: #f4f4f4;
}

.navbar-toggler {
    outline: none;
}

.logged-in {
    color: #020704;
    margin: 8px 2px;
}


/* Home */

.index-lead {
    padding: 1.2rem;
}

.weighted-lead {
    font-weight: 700;
}


/* Accounts */

.table {
    color: #d7e7f0;
}