{% extends 'base.html' %} {% block page_title %} | {{ profile }}'s Profile{% endblock %} {% block content %}

<div class="row">
    <div class="col-12">
        <h2 class="text-center">{{ profile }}'s profile</h2>
    </div>
</div>

<section class="owned-lists">
    <div class="row">
        <div class="col-md-6 col-12">
            <h3>Dark Heresy:</h3>
            <ul class="sheet-list">
                {% for sheet in dh %}
                <li class="sheet-list-item"><a href="{% url 'single_dark_heresy' sheet.id %}" class="single_dark_heresy">{{ sheet.name }}</a> <a href="{% url 'edit_dark_heresy' sheet.id %}" class=" sheet-list-edit"><i class="far fa-edit"></i></a>
                    <a href="{% url 'delete_dark_heresy' sheet.id %}" class="sheet-list-delete" onclick="return confirm('Are you sure you to delete {{ sheet.name }}?');"><i class="fas fa-dumpster-fire"></i></a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-6 col-12">

        </div>
    </div>
</section>

{% if user.profile.staff_access %}
<div class="row">
    <div class="col-12 text-center mb-3">
        <a href="{% url 'admin_panel' %}" role="button" class="btn btn-success" id="admin-panel" aria-disabled="false">Admin Panel</a>
    </div>
</div>
{% endif %} {% endblock %}